html {
  background-color: bisque;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
  color: red;
  font-size: 23px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}

li {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

img {
  flex: 1;
  width: 50px;
  height: 50px;
}
.main {
  text-align: center;
}

input {
  width: 220px;
  height: 20px;
  padding: 2px;
  display: block;
  margin: auto;
}

.submit {
  margin-top: 20px;
  width: 70px;
}

footer {
  margin-top: 400px;
}
